//Colors

$color-blue: #2a3867;
$color-blue-light: #868BB1;
$color-primary: #d5c798;
$color-primary-dark: #c0af78; 
$color-primary-light: #e4dcbe;
$color-main-text: #777;

//Fonts
$font-main-text: sans-serif;


//Responsive breakpoints
$bp-large: 50em;      //800px
$bp-medium: 37em;      //592px
$bp-small: 25em;     //592px
