@import "variables";
@import "base";

@import "components/header";
@import "components/game";
@import "components/cards";
@import "components/card"; 
@import "components/score";
@import "components/result";
@import "components/players-select";
@import "components/footer"; 